extends layout

block main-content
  h1.page-title Sale
  div.itemlist
    each Items in Itemlist
      -var CaCurrency="CA$"
      -var discount="% Discount"
      if Items.Sale>0
        .item
          img#itemImg(src=Items.img1, alt=Items.Name, width="250", height="auto")
          p #{Items.Name}
          p.sale.dis #{CaCurrency}#{Items.Price}
          p.sale#saleamount #{Items.Sale}#{discount}
          -var NewPrice=Items.Price-(Items.Price*Items.Sale/100)
          p #{CaCurrency}#{NewPrice}
          - var n=0;
          ul#rating
            while n < Items.Rating
              li &#9733;
              -n++

  